<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.kosta.abbo.mapper.ApplierMapper">
	<insert id="create">
		INSERT INTO applier(
			applier_id,
			success,
			regdate,
			user_id,
			event_id)
		VALUES(
			applier_id_seq,
			n,
			sysdate,
			#{userId},
			#{eventId})
	</insert>
	
	<update id="upCnt">
		UPDATE event
		SET    applier_cnt = applier_cnt + 1
		WHERE  event_id = #{eventId}
	</update>
	

</mapper>