<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.kosta.abbo.mapper.EventMapper">

	<!-- 등록 -->
	<insert id="create">
		INSERT into event(event_id,duration, img, start_date,content,title,gu_id,user_id,recruit)
		values(event_id_seq.nextval,#{duration},#{img},#{startDate},#{content},#{title},#{guId},${userId},${recruit})
	</insert>

	<!-- 읽기 -->
	<select id="read" resultType="Event">
		select event_id eventId,duration, img, to_char(start_date , 'yyyy-MM-dd') startDate,
		content,title,gu_id guId,user_id userId,recruit
		from event
		where event_id = #{event_id}
	</select>

	<!-- 수정 -->
	<update id="update">
		update event set event_id = #{eventId}, title =#{title},start_date
		=#{startDate},duration =#{duration},gu_id =#{guId},content
		=#{content}, img =#{img}, recruit=#{recruit}
		where event_id = #{eventId}
	</update>

	<!-- 페이징 -->
	<select id="countPaging" resultType="int">
     <![CDATA[
select count(event_id)
from event
where event_id > 0
   		]]>
	</select>

	<!-- 리스트 -->
	<select id="listSearch" resultType="Event">
	
		select page, eventId, title, userId, hit, writer, regdate, recruit
		from(
		SELECT rownum page,eventId,title,userId, hit, writer, to_char(regdate,
		'yy-mm-dd hh:mi:ss') regdate,recruit
		FROM (SELECT
		e.event_id eventId,e.title title ,e.user_id userId,e.hit hit ,u.name writer,
		e.regdate,e.recruit
		FROM event e, users u
		where e.event_id >0 and e.user_id=u.user_id
		<include refid="search"></include>
		order by e.regdate desc) )
		WHERE page BETWEEN #{pageStart} AND #{pageStart} + #{perPageNum} - 1
		order by page asc
	</select>



	<select id="listSearchCount" resultType="int">
		SELECT Count(event_id)
		FROM event e, users u
		WHERE event_id> 0 and e.user_id = u.user_id
		<include refid="search"></include>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE '%'|| #{keyword} ||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE '%'|| #{keyword} ||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND name LIKE '%'|| #{keyword} ||'%'
			</if>
		</if>
	</sql>

	<!-- 조회수 -->
	<update id="hit">
		UPDATE event
		SET hit = hit + 1
		WHERE event_id = #{event_id}
	</update>
	
	<delete id="deleteImg">
		delete from img where event_id =#{event_id}
	</delete>

</mapper>