<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.kosta.abbo.mapper.EventUserMapper">
	
	<!-- 회원가입 -->
	<insert id="create">
	INSERT INTO users
            (user_id,
           		  id,
           	    name,
                type,
                  pw,
               phone,
             regdate,
           like_area,
         	   email,
         	   truck_doc,
           event_dep)
	VALUES (user_id_seq.nextval,
            	     	  #{id},
            		    #{name},
            		    'event',
            			  #{pw},
            	       #{phone},
            		    sysdate,
            	    #{likeArea},
          		  	   #{email},
          		  	   'x',
                    #{eventDep})
	</insert> 
	
	<!-- 정보수정 -->
	<update id="update">
	UPDATE users
	SET    pw = #{pw},
           phone = #{phone},
           email = #{email},
           like_area = #{likeArea},
           event_dep = #{eventDep}
	WHERE  user_id = #{userId}
	</update>
	
	<!-- 리스트 -->
	<select id="list" resultType="EventUser">
		SELECT e.event_id as eventId,
       	e.user_id as userId,
       	e.title,
       	e.hit,
       	u.name,
       	e.recruit,
       	e.applier_cnt as applierCnt,
       	u.user_id
	   	FROM   event e, users u
		WHERE  e.user_id = u.user_id
       	AND u.user_id = #{userId}
       	ORDER BY e.regdate DESC
	</select>
	
	<!-- 읽기 -->
	<select id="read" resultType="EventUser">
		select user_id as userId,
							  id,
							name,
							type,
						   email,
						   phone,
		   like_area as likeArea,
		   event_dep as eventDep
    	from users
    	where user_id = #{userId}
	</select>
	
	<select id="listSearchCount" resultType="int">
		SELECT Count(event_id) 
		FROM   event e, 
		      		 users u 
		WHERE event_id > 0 
		     AND e.user_id = u.user_id 
		<include refid="search"></include>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE '%'|| #{keyword} ||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE '%'|| #{keyword} ||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND name LIKE '%'|| #{keyword} ||'%'
			</if>
		</if>
	</sql>

	<!-- 조회수 -->
	<update id="hit">
		UPDATE event 
		SET    hit = hit + 1 
		WHERE  event_id = #{event_id} 
	</update>

</mapper>