<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.kosta.abbo.mapper.NormalUserMapper">
	
	<!-- 로그인 -->
	<select id="login" resultType="NormalUser">
		SELECT user_id as userId,
      				id,
       			    pw,
       			  type,
       			  name
		  FROM   users
		  WHERE  id = #{id} 
      	    AND  pw = #{pw}
	</select>
	
	<!-- 중복검사 -->
	<!-- <select id="isMember" resultType="com.kosta.abbo.user.domain.NormalUser">
		select id,pw from users where id = #{id} and pw = #{pw}
	</select> -->
	
	<!-- 회원가입 -->
	<insert id="create">
	INSERT INTO users
            (user_id,
                  id,
                name,
                type,
                  pw,
               phone,
             regdate,
             like_area)
	VALUES  (user_id_seq.nextval,
            			   #{id},
          			     #{name},
           			    'normal',
            			   #{pw},
            		    #{phone},
           				 sysdate,
            		 #{likeArea})
	</insert> 
	
	<!-- 회원탈퇴 -->
	<delete id="delete" >
		DELETE FROM users
		WHERE  id = #{id}
    	   AND pw = #{pw}
	</delete>
	
	<update id="checkDocu">
   UPDATE users
      SET truck_doc = 'o'
      WHERE (SELECT count(*)
             FROM (SELECT docu_id
                   FROM docu
                   WHERE user_id = "#{userId}" AND expdate > sysdate
                   )
           ) = 4;
</update>
	

</mapper>