<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.kosta.abbo.mapper.PlanMapper">
	<insert id="create">
		insert into plan(plan_id, day, title, x, y, open, close, user_id)
		values (plan_id_seq.nextval,#{day}, #{title}, #{x}, #{y}, #{open}, #{close}, #{userId})
	</insert>
	
	<select id="list" resultType="Plan">
		select plan_id planId, 
		       day, 
		       title, 
		       x, 
		       y, 
		       open, 
		       close, 
		       user_id userId
		from   plan
		where  user_id = #{userId}
		order by day asc
	</select>
	
	<select id="search" resultType="Plan">
		select p.plan_id      planId, 
		       p.day          day, 
		       p.title        title, 
		       p.x            x, 
		       p.y            y, 
		       p.open         open, 
		       p.close        close, 
		       p.user_id      userId, 
		       u.truck_img    truckImg, 
		       u.truck_name   truckName, 
		       u.truck_food   truckFood, 
		       u.phone        phone, 
		       u.email        email,
		       u.id           id
		from   plan p , users u
		where  p.user_id = u.user_id         and 
		       to_char(sysdate, 'd')-1 = day and 
		       to_char(SYSDATE , 'HH24:MI:SS') between open and close
	</select>
	
	<select id="read" resultType="Plan">
		select plan_id planId, day, title, x, y, open, close, user_id userId
		from   plan
		where  plan_id = #{planId}
	</select>
	
	<delete id="delete">
		delete from plan
		where  plan_id = #{planId}
	</delete>
	
	<update id="modify">
		update plan
		set    title = #{title},  
		       open = #{open}, 
		       close = #{close}, 
		       x = #{x}, 
		       y = #{y}, 
		       day = #{day}
		where  plan_id = #{planId}
	</update>
	
	<select id="uploadCheck" resultType="Plan">
		select plan_id planId, day, title, x, y, open, close, user_id userId
		from   (select plan_id, day, title, x, y, open, close, user_id
      			from   plan
      			where  user_id = #{userId} and day = #{day})
		where  to_char(to_date(#{open} , 'hh24:mi'), 'HH24:MI') between open and close OR 
		       to_char(to_date(#{close} , 'hh24:mi'), 'HH24:MI') between open and close
	</select>

</mapper>