<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                          "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis XML 설정 파일(MyBatis설정의 중앙 허브 역할) -->
<configuration>
	<typeAliases>
		<typeAlias type="com.kosta.abbo.applier.domain.Applier" 	alias="Applier"/>
		<typeAlias type="com.kosta.abbo.docu.domain.Docu" 			alias="Docu"/>
		<typeAlias type="com.kosta.abbo.event.domain.Event" 		alias="Event"/>
		<typeAlias type="com.kosta.abbo.liketruck.domain.Liketruck" alias="Liketruck"/>
		<typeAlias type="com.kosta.abbo.plan.domain.Plan" 			alias="Plan"/>
		<typeAlias type="com.kosta.abbo.review.domain.Review" 		alias="Review"/>
		<typeAlias type="com.kosta.abbo.user.domain.NormalUser" 	alias="NormalUser"/>
		<typeAlias type="com.kosta.abbo.user.domain.TruckUser" 		alias="TruckUser"/>
		<typeAlias type="com.kosta.abbo.user.domain.EventUser" 		alias="EventUser"/>
	</typeAliases>
</configuration>